<div class="container wrapper">
  <%= render 'shared/header', complementary_text: "para pedirle favores al Mike" %>
  <h3 class="text-center font-size-16 font-lighter">Servicios que otros han pedido:</h3>
  <div class="cards-container">
    <% @tasks.each do |task| %>
      <%= render 'shared/task-card', task: task %>
    <% end %>
  </div>
  <br>
  <div class="footer navbar-fixed-bottom text-center">
    <div class="row">
      <%= render 'shared/task-form', task: @task %>
    </div>
  </div>
</div>
<div class="bottom-actions">
  <% if user_signed_in? %>
    <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
  <% else %>
    <a href="/users/sign_up">¿Quieres ayudar al mike con los favores? Crea una cuenta</a>
  <% end %>
</div>
