<h1 class="text-center font-size-24 font-bold">
  <%= link_to "El Mike Services", root_path  %>
  <i class="fas fa-copyright"></i>
</h1>
<p class="text-center font-size-14">La plataforma web <%= complementary_text %></p>
  <div class="header-copyright">
    <div class="header-copyright-share-whatsapp">
      <a href="https://wa.me/?text=<%= root_url %>">Compartir <i class="fab fa-whatsapp"></i></a>
    </div>
    <div class="header-copyright-made-by">
        Made with <i class="fa fa-heart"></i> By:<a href="https://www.instagram.com/somos_scuad/" target="_blank"> Mike @somos_scuad <i class="fab fa-instagram"></i></a>
    </div>
  </div>
<hr class="header-separator">
