.paper-cards-container {
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  font-size: 12px;
  background: lightgray;

  h4 {
    margin: 0;
    padding: 24px 0px;
    height: 15%;
  }

  .cards-container {
    display: block;
    position: relative;
    width: 100%;
    height: 60%;
    z-index: 1;
  }

  .card-item {
    background: #FFFFFF;
    position: absolute;
    left: 5%;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 8px;
    text-transform: uppercase;
    text-align: center;
  }

  .global-actions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    width: 100%;
    height: 25%;

    .action {
      width: 100%;
      height: 50px;
      border-radius: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-weight: 500;
      color: #fff;
    }
    .action--center {
      background: #E38568;
      margin: 0 10px;
      a {
        text-decoration: none;
        color: white;
      }
    }
    .action--right {
      background: #7BB3C5;
    }
    .action--left {
      background: #E58D93;
    }
  }
}
