.paper-cards-container {
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  font-size: 12px;
  background: lightgray;

  h4 {
    margin: 0;
    padding: 24px 0px;
  }

  .cards-container {
    display: block;
    position: relative;
    width: 100%;
    height: 360px;
    z-index: 1;
  }

  .card-item {
    background: #FFFFFF;
    position: absolute;
    left: 5%;
    width: 90%;
    height: 60vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 8px;
    text-transform: uppercase;
    text-align: center;
  }

  .global-actions{
    display: flex;
    justify-content: space-around;
    align-items: center;

    .action {
    }
  }
}
